<h2>My Tasks</h2>
<ul>
  <% @tasks.each do |restaurant| %>
    <li><%= link_to restaurant.title, "http://localhost:3000/tasks/#{restaurant.id}" %></li>

  <% end %>
</ul>
 <%# <% raise %>
<%= link_to "Create a new task", "http://localhost:3000/tasks/new" %>
